.addNewPost {
  text-align: center;
}

main {
  padding: 10px 10px 60px;
  min-height: calc(100vh - 100px);
  width: 900px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.posts {
  position: relative;
}

.posts .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
}
